@import url('https://fonts.googleapis.com/css2?family=Google+Sans');

body {
    text-align: center;
    font-family: 'Google Sans';
}

li {
    list-style-type: none;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.social-links {
    color: blue;
    text-decoration: none;
}
