@import url('https://fonts.googleapis.com/css2?family=Mate');

body {
    text-align: center;
    font-family: 'Mate';
    padding: 20px;
}

li {
    list-style-type: none;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.pet-portraits {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    transition: transform 0.2s ease-in-out;
}

.pet-portraits:hover {
    transform: scale(0.95);
}

@media (hover: hover) {
    .profile-image:hover {
        transform: scale(1.08) rotate(-5deg);
    }

    .pet-portraits:hover {
        transform: scale(0.95);
    }

    .links:hover {
        text-decoration: underline;
    }
}

.links {
    color: blue;
    text-decoration: none;
}

.likes-dislikes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.ld-list-section {
    flex: 1;
}

@media (min-width: 480px) {
    .likes-dislikes {
        flex-direction: row;
        gap: 40px;
    }
}
